APP_URL=https://constancias.tjaech.gob.mx
APP_ENV=production
WEBHOOK_SECRET=TJA_SECRET_KEY_998877665544332211
SESSION_SECURE=true

# Database Constancias
DB_HOST=localhost
DB_DATABASE=tjaechgob_constancias_tja
DB_USERNAME=tjaechgob_constancias_usr
DB_PASSWORD=TU_CONTRASEÑA_AQUÍ

# Database Evaluaciones (para obtener la lista de cursos/programas)
# IMPORTANTE: El usuario DB_USERNAME debe tener permisos de lectura en esta base de datos.
DB_EVAL_DATABASE=tjaechgob_tjaech_eval
