APP_URL=http://localhost:8000
APP_ENV=local
WEBHOOK_SECRET=TJA_SECRET_KEY_998877665544332211
SESSION_SECURE=false

# Database Constancias
DB_HOST=127.0.0.1
DB_DATABASE=tjaechgob_constancias_tja
DB_USERNAME=root
DB_PASSWORD=

# Database Evaluaciones (to fetch courses/programs)
DB_EVAL_DATABASE=tjaechgob_tjaech_eval
